torch==2.2.0 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cu118
deepchem
fcd==1.2
guacamol
matplotlib
numpy==1.26
pandas==1.5.3
rdkit==2023.9.2
scipy==1.10.1
seaborn
tqdm
transformers
wandb
tensorflow==2.9.1
molecule-generation
unimol_tools
huggingface_hub
